.social-media-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito-Regular", "Arial", serif;
  font-size: 1.7rem;
  letter-spacing: 1px;
  transition: 0.3s;

  a {
    text-decoration: none;
    color: rgb(205, 217, 230);
    transition: 0.3s;

    .icon {
      color: rgb(0, 180, 235);
      margin-right: 5px;
    }

    &:hover {
      color: white;

      .icon {
        color: rgb(0, 195, 255);
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .social-media-item {
    margin: 15px 0;
  }
}
