.App {
  position: relative;
  box-sizing: border-box;
  background-image: url('./assets/images/background.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Nunito-Regular", "Arial", sans-serif;
  letter-spacing: 1px;
  color: white;
  min-height: 100vh;
}

@font-face {
  font-family: "Nunito-Regular";
  src: 
    local("Nunito-Regular"),
    url('./assets/fonts/Nunito-Regular.ttf');
}
